In [224]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [225]:
with open ('transaction-data-adhoc-analysis.json', 'r') as f:
    data = json.load(f)

In [226]:
# pivot table
df = pd.DataFrame(data)
df

,address,birthdate,mail,name,sex,username,transaction_items,transaction_value,transaction_date
0,USNS Wagner\nFPO AE 00917,1926/03/11,watsonbrenda@gmail.com,Jennifer Campbell,F,veronicawells,"Exotic Extras,Beef Chicharon,(x4)",5196,2022/01/12
1,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,"Exotic Extras,Beef Chicharon,(x3);HealthyKid 3...",12056,2022/01/12
2,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,"HealthyKid 3+,Gummy Vitamins,(x3);HealthyKid 3...",5500,2022/01/08
3,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,"HealthyKid 3+,Yummy Vegetables,(x1)",500,2022/01/10
4,"33911 Hansen Loaf\nWest Sandra, ND 54188",1949/09/27,michael78@yahoo.com,Kristen Cooper,F,qhernandez,"Candy City,Orange Beans,(x3);Candy City,Gummy ...",2697,2022/01/24
...,...,...,...,...,...,...,...,...,...
83031,"96081 Harrison Brooks\nJenniferbury, MA 02124",2019/10/26,christina55@hotmail.com,Tammy Byrd,F,kmcconnell,"Exotic Extras,Kimchi and Seaweed,(x2);HealthyK...",3588,2022/06/05
83032,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,"HealthyKid 3+,Yummy Vegetables,(x1);Exotic Ext...",2095,2022/06/12
83033,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,"Candy City,Orange Beans,(x4);Candy City,Gummy ...",3396,2022/06/15
83034,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,"HealthyKid 3+,Nutrional Milk,(x2);Candy City,G...",4280,2022/06/09
83035,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,"HealthyKid 3+,Nutrional Milk,(x1);Candy City,G...",2639,2022/06/03

In [227]:
split_items_df =(df.set_index(['address','birthdate','mail','name','sex','username','transaction_value','transaction_date'])
.apply(lambda x: x.str.split(';').explode())
.reset_index())

In [228]:
split_items_df

,address,birthdate,mail,name,sex,username,transaction_value,transaction_date,transaction_items
0,USNS Wagner\nFPO AE 00917,1926/03/11,watsonbrenda@gmail.com,Jennifer Campbell,F,veronicawells,5196,2022/01/12,"Exotic Extras,Beef Chicharon,(x4)"
1,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Exotic Extras,Beef Chicharon,(x3)"
2,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"HealthyKid 3+,Nutrional Milk,(x4)"
3,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Candy City,Orange Beans,(x1)"
4,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,5500,2022/01/08,"HealthyKid 3+,Gummy Vitamins,(x3)"
...,...,...,...,...,...,...,...,...,...
166114,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,4280,2022/06/09,"HealthyKid 3+,Nutrional Milk,(x2)"
166115,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,4280,2022/06/09,"Candy City,Gummy Worms,(x2)"
166116,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2639,2022/06/03,"HealthyKid 3+,Nutrional Milk,(x1)"
166117,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2639,2022/06/03,"Candy City,Gummy Worms,(x3)"
166118,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2639,2022/06/03,"Candy City,Orange Beans,(x1)"

In [229]:
split_items_df2=split_items_df.replace("HealthyKid 3+",'THREE',regex=True)
split_items_df2['transaction_quantity']=split_items_df2['transaction_items'].astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int)
splitems_df=split_items_df2.replace('THREE+','HealthyKid 3',regex=True)

In [230]:
splitems_df

,address,birthdate,mail,name,sex,username,transaction_value,transaction_date,transaction_items,transaction_quantity
0,USNS Wagner\nFPO AE 00917,1926/03/11,watsonbrenda@gmail.com,Jennifer Campbell,F,veronicawells,5196,2022/01/12,"Exotic Extras,Beef Chicharon,(x4)",4
1,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Exotic Extras,Beef Chicharon,(x3)",3
2,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"HealthyKid 3+,Nutrional Milk,(x4)",4
3,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Candy City,Orange Beans,(x1)",1
4,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,5500,2022/01/08,"HealthyKid 3+,Gummy Vitamins,(x3)",3
...,...,...,...,...,...,...,...,...,...,...
166114,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,4280,2022/06/09,"HealthyKid 3+,Nutrional Milk,(x2)",2
166115,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,4280,2022/06/09,"Candy City,Gummy Worms,(x2)",2
166116,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2639,2022/06/03,"HealthyKid 3+,Nutrional Milk,(x1)",1
166117,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2639,2022/06/03,"Candy City,Gummy Worms,(x3)",3
166118,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2639,2022/06/03,"Candy City,Orange Beans,(x1)",1

In [231]:
splitems_df['EEBC quantity']=splitems_df['transaction_items'].str.contains('Beef Chicharon')
splitems_df['EEKS quantity']=splitems_df['transaction_items'].str.contains('Kimchi and Seaweed')
splitems_df['HKNM quantity']=splitems_df['transaction_items'].str.contains('Nutrional Milk')
splitems_df['HKGV quantity']=splitems_df['transaction_items'].str.contains('Gummy Vitamins')
splitems_df['HKYV quantity']=splitems_df['transaction_items'].str.contains('Yummy Vegetables')
splitems_df['CCOB quantity']=splitems_df['transaction_items'].str.contains('Orange Beans')
splitems_df['CCGW quantity']=splitems_df['transaction_items'].str.contains('Gummy Worms')

In [232]:
numbered_months = splitems_df["transaction_month"] = [x[7][6] for x in np.array(splitems_df)]

def spell_month(numbered_months):
    if numbered_months == '1':
        return 'January'
    elif numbered_months == '2':
        return 'February'
    elif numbered_months == '3':
        return 'March'
    elif numbered_months == '4':
        return 'April'
    elif numbered_months == '5':
        return 'May'
    else:
        return 'June'
    
splitems_df['transaction_month'] = splitems_df['transaction_month'].apply(spell_month)

In [233]:
splitems_df

,address,birthdate,mail,name,sex,username,transaction_value,transaction_date,transaction_items,transaction_quantity,EEBC quantity,EEKS quantity,HKNM quantity,HKGV quantity,HKYV quantity,CCOB quantity,CCGW quantity,transaction_month
0,USNS Wagner\nFPO AE 00917,1926/03/11,watsonbrenda@gmail.com,Jennifer Campbell,F,veronicawells,5196,2022/01/12,"Exotic Extras,Beef Chicharon,(x4)",4,True,False,False,False,False,False,False,January
1,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Exotic Extras,Beef Chicharon,(x3)",3,True,False,False,False,False,False,False,January
2,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"HealthyKid 3+,Nutrional Milk,(x4)",4,False,False,True,False,False,False,False,January
3,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Candy City,Orange Beans,(x1)",1,False,False,False,False,False,True,False,January
4,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,5500,2022/01/08,"HealthyKid 3+,Gummy Vitamins,(x3)",3,False,False,False,True,False,False,False,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166114,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,4280,2022/06/09,"HealthyKid 3+,Nutrional Milk,(x2)",2,False,False,True,False,False,False,False,June
166115,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,4280,2022/06/09,"Candy City,Gummy Worms,(x2)",2,False,False,False,False,False,False,True,June
166116,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2639,2022/06/03,"HealthyKid 3+,Nutrional Milk,(x1)",1,False,False,True,False,False,False,False,June
166117,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2639,2022/06/03,"Candy City,Gummy Worms,(x3)",3,False,False,False,False,False,False,True,June
166118,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2639,2022/06/03,"Candy City,Orange Beans,(x1)",1,False,False,False,False,False,True,False,June

In [234]:
EEBC_transactions = [splitems_df.loc[(splitems_df['EEBC quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['EEBC quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEBC quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEBC quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEBC quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEBC quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum()]

EEKS_transactions = [splitems_df.loc[(splitems_df['EEKS quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['EEKS quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEKS quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEKS quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEKS quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEKS quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum()]

HKNM_transactions = [splitems_df.loc[(splitems_df['HKNM quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['HKNM quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKNM quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKNM quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKNM quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKNM quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum()]

HKGV_transactions = [splitems_df.loc[(splitems_df['HKGV quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['HKGV quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKGV quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKGV quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKGV quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKGV quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum()]

HKYV_transactions = [splitems_df.loc[(splitems_df['HKYV quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['HKYV quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKYV quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKYV quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKYV quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKYV quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum()]

CCOB_transactions = [splitems_df.loc[(splitems_df['CCOB quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['CCOB quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCOB quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCOB quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCOB quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCOB quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum()]

CCGW_transactions = [splitems_df.loc[(splitems_df['CCGW quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['CCGW quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCGW quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCGW quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCGW quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCGW quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum()]

print(EEBC_transactions)
print(EEKS_transactions)
print(HKNM_transactions)
print(HKGV_transactions)
print(HKYV_transactions)
print(CCOB_transactions)
print(CCGW_transactions)

[9665, 10001, 9816, 9890, 10028, 9902]
[9676, 9949, 9967, 9921, 9773, 10104]
[9727, 9691, 9876, 9786, 9881, 9767]
[9681, 9980, 10145, 9842, 9948, 9980]
[9959, 10256, 9896, 9861, 9735, 9722]
[9774, 10037, 9611, 9914, 9964, 10106]
[9559, 9996, 9986, 10043, 9801, 9934]

In [235]:
EEBC_transactions = [splitems_df.loc[(splitems_df['EEBC quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['EEBC quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEBC quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEBC quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEBC quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEBC quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum(),
sum(EEBC_transactions[0:6])]

EEKS_transactions = [splitems_df.loc[(splitems_df['EEKS quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['EEKS quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEKS quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEKS quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEKS quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEKS quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum(),
sum(EEKS_transactions[0:6])]

HKNM_transactions = [splitems_df.loc[(splitems_df['HKNM quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['HKNM quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKNM quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKNM quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKNM quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKNM quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum(),
sum(HKNM_transactions[0:6])]

HKGV_transactions = [splitems_df.loc[(splitems_df['HKGV quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['HKGV quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKGV quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKGV quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKGV quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKGV quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum(),
sum(HKGV_transactions[0:6])]

HKYV_transactions = [splitems_df.loc[(splitems_df['HKYV quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['HKYV quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKYV quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKYV quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKYV quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKYV quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum(),
sum(HKYV_transactions[0:6])]

CCOB_transactions = [splitems_df.loc[(splitems_df['CCOB quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['CCOB quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCOB quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCOB quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCOB quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCOB quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum(),
sum(CCOB_transactions[0:6])]

CCGW_transactions = [splitems_df.loc[(splitems_df['CCGW quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['CCGW quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCGW quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCGW quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCGW quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCGW quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum(),
sum(CCGW_transactions[0:6])]

print(EEBC_transactions)
print(EEKS_transactions)
print(HKNM_transactions)
print(HKGV_transactions)
print(HKYV_transactions)
print(CCOB_transactions)
print(CCGW_transactions)

[9665, 10001, 9816, 9890, 10028, 9902, 59302]
[9676, 9949, 9967, 9921, 9773, 10104, 59390]
[9727, 9691, 9876, 9786, 9881, 9767, 58728]
[9681, 9980, 10145, 9842, 9948, 9980, 59576]
[9959, 10256, 9896, 9861, 9735, 9722, 59429]
[9774, 10037, 9611, 9914, 9964, 10106, 59406]
[9559, 9996, 9986, 10043, 9801, 9934, 59319]

In [236]:
# breakdown of the count of each item sold per month
monthly_transactions_df = pd.DataFrame(
    {'EEBC_SQ': EEBC_transactions,
     'EEKS_SQ': EEKS_transactions,
     'HKNM_SQ': HKNM_transactions,
     'HKGV_SQ': HKGV_transactions,
     'HKYV_SQ': HKYV_transactions,
     'CCOB_SQ': CCOB_transactions,
     'CCGW_SQ': CCGW_transactions,
    }, index = pd.Index(['January', 'February', 'March', 'April', 'May', 'June', 'Total']))

In [237]:
monthly_transactions_df

          EEBC_SQ  EEKS_SQ  HKNM_SQ  HKGV_SQ  HKYV_SQ  CCOB_SQ  CCGW_SQ
January      9665     9676     9727     9681     9959     9774     9559
February    10001     9949     9691     9980    10256    10037     9996
March        9816     9967     9876    10145     9896     9611     9986
April        9890     9921     9786     9842     9861     9914    10043
May         10028     9773     9881     9948     9735     9964     9801
June         9902    10104     9767     9980     9722    10106     9934
Total       59302    59390    58728    59576    59429    59406    59319

In [238]:
EEBC_Price = int(df['transaction_value'][0] / 4)
EEBC_Price

1299

In [239]:
EEKS_Price = int(df['transaction_value'][6] / 4)
EEKS_Price

799

In [199]:
HKNM_Price = int(df['transaction_value'][18] / 3)
HKNM_Price

1990

In [200]:
# HKGV Sale Value
HKGV_Price = int(df['transaction_value'][11] / 2)
HKGV_Price

1500

In [201]:
# HKYV Sale Value
HKYV_Price = int(df['transaction_value'][3])
HKYV_Price

500

In [202]:
# CCOB Sale Value
CCOB_Price = int(df['transaction_value'][19] / 3)
CCOB_Price

199

In [203]:
# CCGW Sale Value
CCGW_Price = int(df['transaction_value'][8])
CCGW_Price

150

In [28]:
# breakdown of the total sale value per item per month

In [211]:
EEBC_SQ = monthly_transactions_df['EEBC_SV'] = [x[0] for x in np.array(monthly_transactions_df)]

def get_EEBC_revenue(EEBC_SQ):
    if EEBC_SQ != 0:
        return EEBC_Price * EEBC_SQ
    else:
        return 0 

monthly_transactions_df['EEBC_SV'] = monthly_transactions_df['EEBC_SV'].apply(get_EEBC_revenue)


EEKS_SQ = monthly_transactions_df['EEKS_SV'] = [x[1] for x in np.array(monthly_transactions_df)]

def get_EEKS_revenue(EEKS_SQ):
    if EEKS_SQ != 0:
        return EEKS_Price * EEKS_SQ
    else:
        return 0 

monthly_transactions_df['EEKS_SV'] = monthly_transactions_df['EEKS_SV'].apply(get_EEKS_revenue)


HKNM_SQ = monthly_transactions_df['HKNM_SV'] = [x[2] for x in np.array(monthly_transactions_df)]

def get_HKNM_revenue(HKNM_SQ):
    if HKNM_SQ != 0:
        return HKNM_Price * HKNM_SQ
    else:
        return 0 

monthly_transactions_df['HKNM_SV'] = monthly_transactions_df['HKNM_SV'].apply(get_HKNM_revenue)


HKGV_SQ = monthly_transactions_df['HKGV_SV'] = [x[3] for x in np.array(monthly_transactions_df)]

def get_HKGV_revenue(HKGV_SQ):
    if HKGV_SQ != 0:
        return HKGV_Price * HKGV_SQ
    else:
        return 0 

monthly_transactions_df['HKGV_SV'] = monthly_transactions_df['HKGV_SV'].apply(get_HKGV_revenue)


HKYV_SQ = monthly_transactions_df['HKYV_SV'] = [x[4] for x in np.array(monthly_transactions_df)]

def get_HKYV_revenue(HKYV_SQ):
    if HKYV_SQ != 0:
        return HKYV_Price * HKYV_SQ
    else:
        return 0 

monthly_transactions_df['HKYV_SV'] = monthly_transactions_df['HKYV_SV'].apply(get_HKYV_revenue)


CCOB_SQ = monthly_transactions_df['CCOB_SV'] = [x[5] for x in np.array(monthly_transactions_df)]

def get_CCOB_revenue(CCOB_SQ):
    if CCOB_SQ != 0:
        return CCOB_Price * CCOB_SQ
    else:
        return 0 

monthly_transactions_df['CCOB_SV'] = monthly_transactions_df['CCOB_SV'].apply(get_CCOB_revenue)


CCGW_SQ = monthly_transactions_df['CCGW_SV'] = [x[6] for x in np.array(monthly_transactions_df)]

def get_CCGW_revenue(CCGW_SQ):
    if CCGW_SQ != 0:
        return CCGW_Price * CCGW_SQ
    else:
        return 0 

monthly_transactions_df['CCGW_SV'] = monthly_transactions_df['CCGW_SV'].apply(get_CCGW_revenue)

In [212]:
monthly_transactions_df

,EEBC_SQ,EEKS_SQ,HKNM_SQ,HKGV_SQ,HKYV_SQ,CCOB_SQ,CCGW_SQ,EEBC_SV,EEKS_SV,HKNM_SV,HKGV_SV,HKYV_SV,CCOB_SV,CCGW_SV
January,9665,9676,9727,9681,9959,9774,9559,12554835,7731124,19356730,14521500,4979500,1945026,1433850
February,10001,9949,9691,9980,10256,10037,9996,12991299,7949251,19285090,14970000,5128000,1997363,1499400
March,9816,9967,9876,10145,9896,9611,9986,12750984,7963633,19653240,15217500,4948000,1912589,1497900
April,9890,9921,9786,9842,9861,9914,10043,12847110,7926879,19474140,14763000,4930500,1972886,1506450
May,10028,9773,9881,9948,9735,9964,9801,13026372,7808627,19663190,14922000,4867500,1982836,1470150
June,9902,10104,9767,9980,9722,10106,9934,12862698,8073096,19436330,14970000,4861000,2011094,1490100
Total,59302,59390,58728,59576,59429,59406,59319,77033298,47452610,116868720,89364000,29714500,11821794,8897850