In [1]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
with open ('transaction-data-adhoc-analysis.json', 'r') as f:
    data = json.load(f)

In [3]:
# pivot table
df = pd.DataFrame(data)
df

,address,birthdate,mail,name,sex,username,transaction_items,transaction_value,transaction_date
0,USNS Wagner\nFPO AE 00917,1926/03/11,watsonbrenda@gmail.com,Jennifer Campbell,F,veronicawells,"Exotic Extras,Beef Chicharon,(x4)",5196,2022/01/12
1,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,"Exotic Extras,Beef Chicharon,(x3);HealthyKid 3...",12056,2022/01/12
2,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,"HealthyKid 3+,Gummy Vitamins,(x3);HealthyKid 3...",5500,2022/01/08
3,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,"HealthyKid 3+,Yummy Vegetables,(x1)",500,2022/01/10
4,"33911 Hansen Loaf\nWest Sandra, ND 54188",1949/09/27,michael78@yahoo.com,Kristen Cooper,F,qhernandez,"Candy City,Orange Beans,(x3);Candy City,Gummy ...",2697,2022/01/24
...,...,...,...,...,...,...,...,...,...
83031,"96081 Harrison Brooks\nJenniferbury, MA 02124",2019/10/26,christina55@hotmail.com,Tammy Byrd,F,kmcconnell,"Exotic Extras,Kimchi and Seaweed,(x2);HealthyK...",3588,2022/06/05
83032,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,"HealthyKid 3+,Yummy Vegetables,(x1);Exotic Ext...",2095,2022/06/12
83033,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,"Candy City,Orange Beans,(x4);Candy City,Gummy ...",3396,2022/06/15
83034,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,"HealthyKid 3+,Nutrional Milk,(x2);Candy City,G...",4280,2022/06/09
83035,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,"HealthyKid 3+,Nutrional Milk,(x1);Candy City,G...",2639,2022/06/03

In [4]:
# granularity of one “line item” per row
split_items_df =(df.set_index(['address','birthdate','mail','name','sex','username','transaction_value','transaction_date'])
.apply(lambda x: x.str.split(';').explode())
.reset_index())

In [5]:
split_items_df

,address,birthdate,mail,name,sex,username,transaction_value,transaction_date,transaction_items
0,USNS Wagner\nFPO AE 00917,1926/03/11,watsonbrenda@gmail.com,Jennifer Campbell,F,veronicawells,5196,2022/01/12,"Exotic Extras,Beef Chicharon,(x4)"
1,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Exotic Extras,Beef Chicharon,(x3)"
2,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"HealthyKid 3+,Nutrional Milk,(x4)"
3,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Candy City,Orange Beans,(x1)"
4,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,5500,2022/01/08,"HealthyKid 3+,Gummy Vitamins,(x3)"
...,...,...,...,...,...,...,...,...,...
166114,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,4280,2022/06/09,"HealthyKid 3+,Nutrional Milk,(x2)"
166115,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,4280,2022/06/09,"Candy City,Gummy Worms,(x2)"
166116,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2639,2022/06/03,"HealthyKid 3+,Nutrional Milk,(x1)"
166117,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2639,2022/06/03,"Candy City,Gummy Worms,(x3)"
166118,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2639,2022/06/03,"Candy City,Orange Beans,(x1)"

In [6]:
split_items_df2=split_items_df.replace("HealthyKid 3+",'THREE',regex=True)
split_items_df2['transaction_quantity']=split_items_df2['transaction_items'].astype('str').str.extractall('(\d+)').unstack().fillna('').sum(axis=1).astype(int)
splitems_df=split_items_df2.replace('THREE+','HealthyKid 3',regex=True)

In [7]:
splitems_df

,address,birthdate,mail,name,sex,username,transaction_value,transaction_date,transaction_items,transaction_quantity
0,USNS Wagner\nFPO AE 00917,1926/03/11,watsonbrenda@gmail.com,Jennifer Campbell,F,veronicawells,5196,2022/01/12,"Exotic Extras,Beef Chicharon,(x4)",4
1,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Exotic Extras,Beef Chicharon,(x3)",3
2,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"HealthyKid 3+,Nutrional Milk,(x4)",4
3,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Candy City,Orange Beans,(x1)",1
4,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,5500,2022/01/08,"HealthyKid 3+,Gummy Vitamins,(x3)",3
...,...,...,...,...,...,...,...,...,...,...
166114,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,4280,2022/06/09,"HealthyKid 3+,Nutrional Milk,(x2)",2
166115,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,4280,2022/06/09,"Candy City,Gummy Worms,(x2)",2
166116,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2639,2022/06/03,"HealthyKid 3+,Nutrional Milk,(x1)",1
166117,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2639,2022/06/03,"Candy City,Gummy Worms,(x3)",3
166118,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2639,2022/06/03,"Candy City,Orange Beans,(x1)",1

In [8]:
splitems_df['EEBC quantity']=splitems_df['transaction_items'].str.contains('Beef Chicharon')
splitems_df['EEKS quantity']=splitems_df['transaction_items'].str.contains('Kimchi and Seaweed')
splitems_df['HKNM quantity']=splitems_df['transaction_items'].str.contains('Nutrional Milk')
splitems_df['HKGV quantity']=splitems_df['transaction_items'].str.contains('Gummy Vitamins')
splitems_df['HKYV quantity']=splitems_df['transaction_items'].str.contains('Yummy Vegetables')
splitems_df['CCOB quantity']=splitems_df['transaction_items'].str.contains('Orange Beans')
splitems_df['CCGW quantity']=splitems_df['transaction_items'].str.contains('Gummy Worms')

In [9]:
splitems_df

,address,birthdate,mail,name,sex,username,transaction_value,transaction_date,transaction_items,transaction_quantity,EEBC quantity,EEKS quantity,HKNM quantity,HKGV quantity,HKYV quantity,CCOB quantity,CCGW quantity
0,USNS Wagner\nFPO AE 00917,1926/03/11,watsonbrenda@gmail.com,Jennifer Campbell,F,veronicawells,5196,2022/01/12,"Exotic Extras,Beef Chicharon,(x4)",4,True,False,False,False,False,False,False
1,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Exotic Extras,Beef Chicharon,(x3)",3,True,False,False,False,False,False,False
2,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"HealthyKid 3+,Nutrional Milk,(x4)",4,False,False,True,False,False,False,False
3,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Candy City,Orange Beans,(x1)",1,False,False,False,False,False,True,False
4,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,5500,2022/01/08,"HealthyKid 3+,Gummy Vitamins,(x3)",3,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166114,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,4280,2022/06/09,"HealthyKid 3+,Nutrional Milk,(x2)",2,False,False,True,False,False,False,False
166115,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,4280,2022/06/09,"Candy City,Gummy Worms,(x2)",2,False,False,False,False,False,False,True
166116,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2639,2022/06/03,"HealthyKid 3+,Nutrional Milk,(x1)",1,False,False,True,False,False,False,False
166117,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2639,2022/06/03,"Candy City,Gummy Worms,(x3)",3,False,False,False,False,False,False,True
166118,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2639,2022/06/03,"Candy City,Orange Beans,(x1)",1,False,False,False,False,False,True,False

In [10]:
numbered_months = splitems_df["transaction_month"] = [x[7][6] for x in np.array(splitems_df)]

def spell_month(numbered_months):
    if numbered_months == '1':
        return 'January'
    elif numbered_months == '2':
        return 'February'
    elif numbered_months == '3':
        return 'March'
    elif numbered_months == '4':
        return 'April'
    elif numbered_months == '5':
        return 'May'
    else:
        return 'June'
    
splitems_df['transaction_month'] = splitems_df['transaction_month'].apply(spell_month)

In [11]:
splitems_df

,address,birthdate,mail,name,sex,username,transaction_value,transaction_date,transaction_items,transaction_quantity,EEBC quantity,EEKS quantity,HKNM quantity,HKGV quantity,HKYV quantity,CCOB quantity,CCGW quantity,transaction_month
0,USNS Wagner\nFPO AE 00917,1926/03/11,watsonbrenda@gmail.com,Jennifer Campbell,F,veronicawells,5196,2022/01/12,"Exotic Extras,Beef Chicharon,(x4)",4,True,False,False,False,False,False,False,January
1,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Exotic Extras,Beef Chicharon,(x3)",3,True,False,False,False,False,False,False,January
2,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"HealthyKid 3+,Nutrional Milk,(x4)",4,False,False,True,False,False,False,False,January
3,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Candy City,Orange Beans,(x1)",1,False,False,False,False,False,True,False,January
4,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,5500,2022/01/08,"HealthyKid 3+,Gummy Vitamins,(x3)",3,False,False,False,True,False,False,False,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166114,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,4280,2022/06/09,"HealthyKid 3+,Nutrional Milk,(x2)",2,False,False,True,False,False,False,False,June
166115,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,4280,2022/06/09,"Candy City,Gummy Worms,(x2)",2,False,False,False,False,False,False,True,June
166116,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2639,2022/06/03,"HealthyKid 3+,Nutrional Milk,(x1)",1,False,False,True,False,False,False,False,June
166117,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2639,2022/06/03,"Candy City,Gummy Worms,(x3)",3,False,False,False,False,False,False,True,June
166118,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2639,2022/06/03,"Candy City,Orange Beans,(x1)",1,False,False,False,False,False,True,False,June

In [12]:
EEBC_transactions = [splitems_df.loc[(splitems_df['EEBC quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['EEBC quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEBC quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEBC quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEBC quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEBC quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum()]

EEKS_transactions = [splitems_df.loc[(splitems_df['EEKS quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['EEKS quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEKS quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEKS quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEKS quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEKS quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum()]

HKNM_transactions = [splitems_df.loc[(splitems_df['HKNM quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['HKNM quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKNM quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKNM quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKNM quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKNM quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum()]

HKGV_transactions = [splitems_df.loc[(splitems_df['HKGV quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['HKGV quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKGV quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKGV quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKGV quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKGV quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum()]

HKYV_transactions = [splitems_df.loc[(splitems_df['HKYV quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['HKYV quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKYV quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKYV quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKYV quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKYV quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum()]

CCOB_transactions = [splitems_df.loc[(splitems_df['CCOB quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['CCOB quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCOB quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCOB quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCOB quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCOB quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum()]

CCGW_transactions = [splitems_df.loc[(splitems_df['CCGW quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['CCGW quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCGW quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCGW quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCGW quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCGW quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum()]

print(EEBC_transactions)
print(EEKS_transactions)
print(HKNM_transactions)
print(HKGV_transactions)
print(HKYV_transactions)
print(CCOB_transactions)
print(CCGW_transactions)

[9665, 10001, 9816, 9890, 10028, 9902]
[9676, 9949, 9967, 9921, 9773, 10104]
[9727, 9691, 9876, 9786, 9881, 9767]
[9681, 9980, 10145, 9842, 9948, 9980]
[9959, 10256, 9896, 9861, 9735, 9722]
[9774, 10037, 9611, 9914, 9964, 10106]
[9559, 9996, 9986, 10043, 9801, 9934]

In [13]:
EEBC_transactions = [splitems_df.loc[(splitems_df['EEBC quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['EEBC quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEBC quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEBC quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEBC quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEBC quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum(),
sum(EEBC_transactions[0:6])]

EEKS_transactions = [splitems_df.loc[(splitems_df['EEKS quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['EEKS quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEKS quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEKS quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEKS quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['EEKS quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum(),
sum(EEKS_transactions[0:6])]

HKNM_transactions = [splitems_df.loc[(splitems_df['HKNM quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['HKNM quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKNM quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKNM quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKNM quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKNM quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum(),
sum(HKNM_transactions[0:6])]

HKGV_transactions = [splitems_df.loc[(splitems_df['HKGV quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['HKGV quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKGV quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKGV quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKGV quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKGV quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum(),
sum(HKGV_transactions[0:6])]

HKYV_transactions = [splitems_df.loc[(splitems_df['HKYV quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['HKYV quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKYV quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKYV quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKYV quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['HKYV quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum(),
sum(HKYV_transactions[0:6])]

CCOB_transactions = [splitems_df.loc[(splitems_df['CCOB quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['CCOB quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCOB quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCOB quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCOB quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCOB quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum(),
sum(CCOB_transactions[0:6])]

CCGW_transactions = [splitems_df.loc[(splitems_df['CCGW quantity']==True)&(splitems_df['transaction_month']=='January'),'transaction_quantity'].sum(), 
splitems_df.loc[(splitems_df['CCGW quantity']==True)&(splitems_df['transaction_month']=='February'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCGW quantity']==True)&(splitems_df['transaction_month']=='March'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCGW quantity']==True)&(splitems_df['transaction_month']=='April'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCGW quantity']==True)&(splitems_df['transaction_month']=='May'),'transaction_quantity'].sum(),
splitems_df.loc[(splitems_df['CCGW quantity']==True)&(splitems_df['transaction_month']=='June'),'transaction_quantity'].sum(),
sum(CCGW_transactions[0:6])]

print(EEBC_transactions)
print(EEKS_transactions)
print(HKNM_transactions)
print(HKGV_transactions)
print(HKYV_transactions)
print(CCOB_transactions)
print(CCGW_transactions)

[9665, 10001, 9816, 9890, 10028, 9902, 59302]
[9676, 9949, 9967, 9921, 9773, 10104, 59390]
[9727, 9691, 9876, 9786, 9881, 9767, 58728]
[9681, 9980, 10145, 9842, 9948, 9980, 59576]
[9959, 10256, 9896, 9861, 9735, 9722, 59429]
[9774, 10037, 9611, 9914, 9964, 10106, 59406]
[9559, 9996, 9986, 10043, 9801, 9934, 59319]

In [14]:
# breakdown of the count of each item sold per month
monthly_transactions_df = pd.DataFrame(
    {'EEBC_SQ': EEBC_transactions,
     'EEKS_SQ': EEKS_transactions,
     'HKNM_SQ': HKNM_transactions,
     'HKGV_SQ': HKGV_transactions,
     'HKYV_SQ': HKYV_transactions,
     'CCOB_SQ': CCOB_transactions,
     'CCGW_SQ': CCGW_transactions,
    }, index = pd.Index(['January', 'February', 'March', 'April', 'May', 'June', 'Total']))

In [15]:
monthly_transactions_df

          EEBC_SQ  EEKS_SQ  HKNM_SQ  HKGV_SQ  HKYV_SQ  CCOB_SQ  CCGW_SQ
January      9665     9676     9727     9681     9959     9774     9559
February    10001     9949     9691     9980    10256    10037     9996
March        9816     9967     9876    10145     9896     9611     9986
April        9890     9921     9786     9842     9861     9914    10043
May         10028     9773     9881     9948     9735     9964     9801
June         9902    10104     9767     9980     9722    10106     9934
Total       59302    59390    58728    59576    59429    59406    59319

In [16]:
df.head(20)

,address,birthdate,mail,name,sex,username,transaction_items,transaction_value,transaction_date
0,USNS Wagner\nFPO AE 00917,1926/03/11,watsonbrenda@gmail.com,Jennifer Campbell,F,veronicawells,"Exotic Extras,Beef Chicharon,(x4)",5196,2022/01/12
1,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,"Exotic Extras,Beef Chicharon,(x3);HealthyKid 3...",12056,2022/01/12
2,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,"HealthyKid 3+,Gummy Vitamins,(x3);HealthyKid 3...",5500,2022/01/08
3,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,"HealthyKid 3+,Yummy Vegetables,(x1)",500,2022/01/10
4,"33911 Hansen Loaf\nWest Sandra, ND 54188",1949/09/27,michael78@yahoo.com,Kristen Cooper,F,qhernandez,"Candy City,Orange Beans,(x3);Candy City,Gummy ...",2697,2022/01/24
5,"958 Henry Extension\nMarthamouth, WV 78781",2012/03/20,john21@gmail.com,Alexander Davis,M,esmith,"HealthyKid 3+,Nutrional Milk,(x1);HealthyKid 3...",2990,2022/01/11
6,USS Ware\nFPO AA 66840,1982/12/06,pestrada@gmail.com,Michael Lowe,M,richardhays,"Exotic Extras,Kimchi and Seaweed,(x4)",3196,2022/01/20
7,"63261 Brewer Drive Apt. 704\nLake Alicia, NJ 0...",1956/08/27,racheldiaz@gmail.com,Jennifer Figueroa,F,hoodbrett,"HealthyKid 3+,Gummy Vitamins,(x2);HealthyKid 3...",6980,2022/01/08
8,"63261 Brewer Drive Apt. 704\nLake Alicia, NJ 0...",1956/08/27,racheldiaz@gmail.com,Jennifer Figueroa,F,hoodbrett,"Candy City,Gummy Worms,(x1)",150,2022/01/11
9,"63261 Brewer Drive Apt. 704\nLake Alicia, NJ 0...",1956/08/27,racheldiaz@gmail.com,Jennifer Figueroa,F,hoodbrett,"HealthyKid 3+,Yummy Vegetables,(x1);Exotic Ext...",10196,2022/01/19
10,"2049 Schneider Walk\nScottfurt, DC 18004",1993/10/21,codydavis@gmail.com,Steven Woods,M,amandahill,"HealthyKid 3+,Yummy Vegetables,(x2);Candy City...",1150,2022/01/26
11,"2049 Schneider Walk\nScottfurt, DC 18004",1993/10/21,codydavis@gmail.com,Steven Woods,M,amandahill,"HealthyKid 3+,Gummy Vitamins,(x2)",3000,2022/01/01
12,"222 Harris Summit\nNew Jenniferton, AL 51310",1930/04/29,zlin@hotmail.com,Benjamin Wilson,M,david85,"Candy City,Gummy Worms,(x4);Exotic Extras,Beef...",3596,2022/01/24
13,"879 Amy Circle Suite 844\nNorth Christina, ID ...",1916/10/28,stewartvictoria@gmail.com,Melissa Edwards,F,sanchezeric,"Exotic Extras,Beef Chicharon,(x2);Candy City,O...",2996,2022/01/27
14,"1300 Williams Harbor Suite 673\nCruzfort, SC 8...",2004/01/27,johnsongerald@yahoo.com,Rhonda Madden,F,frazierjanice,"HealthyKid 3+,Yummy Vegetables,(x1);Exotic Ext...",2598,2022/01/18
15,"1300 Williams Harbor Suite 673\nCruzfort, SC 8...",2004/01/27,johnsongerald@yahoo.com,Rhonda Madden,F,frazierjanice,"HealthyKid 3+,Gummy Vitamins,(x4);Candy City,O...",7697,2022/01/08
16,"1300 Williams Harbor Suite 673\nCruzfort, SC 8...",2004/01/27,johnsongerald@yahoo.com,Rhonda Madden,F,frazierjanice,"Candy City,Gummy Worms,(x3);Candy City,Orange ...",2047,2022/01/27
17,"833 Moran Estate\nOwenschester, RI 87762",1919/12/08,elizabeth69@yahoo.com,Kevin Lopez,M,beanmarc,"HealthyKid 3+,Yummy Vegetables,(x3)",1500,2022/01/25
18,"730 Cody Inlet Apt. 750\nGabrielshire, NE 69892",1939/09/20,parkerrobert@hotmail.com,Mrs. Heather Soto,F,andrew89,"HealthyKid 3+,Nutrional Milk,(x3)",5970,2022/01/28
19,"730 Cody Inlet Apt. 750\nGabrielshire, NE 69892",1939/09/20,parkerrobert@hotmail.com,Mrs. Heather Soto,F,andrew89,"Candy City,Orange Beans,(x3)",597,2022/01/19

In [17]:
# EEBC Sale Value
EEBC_Price = int(df['transaction_value'][0] / 4)
EEBC_Price

1299

In [18]:
# EEKS Sale Value
EEKS_Price = int(df['transaction_value'][6] / 4)
EEKS_Price

799

In [19]:
# HKNM Sale Value
HKNM_Price = int(df['transaction_value'][18] / 3)
HKNM_Price

1990

In [20]:
# HKGV Sale Value
HKGV_Price = int(df['transaction_value'][11] / 2)
HKGV_Price

1500

In [21]:
# HKYV Sale Value
HKYV_Price = int(df['transaction_value'][3])
HKYV_Price

500

In [22]:
# CCOB Sale Value
CCOB_Price = int(df['transaction_value'][19] / 3)
CCOB_Price

199

In [23]:
# CCGW Sale Value
CCGW_Price = int(df['transaction_value'][8])
CCGW_Price

150

In [24]:



EEBC_SQ = monthly_transactions_df['EEBC_SV'] = [x[0] for x in np.array(monthly_transactions_df)]
EEBC_SQ

[9665, 10001, 9816, 9890, 10028, 9902, 59302]

In [25]:
monthly_transactions_df['EEBC_SV'] = [x[0] for x in np.array(monthly_transactions_df)]

In [26]:
monthly_transactions_df['EEBC_SV']

January      9665
February    10001
March        9816
April        9890
May         10028
June         9902
Total       59302
Name: EEBC_SV, dtype: int64

In [27]:
# breakdown of the total sale value per item per month

In [28]:
EEBC_SQ = monthly_transactions_df['EEBC_SV'] = [x[0] for x in np.array(monthly_transactions_df)]

def get_EEBC_revenue(EEBC_SQ):
    if EEBC_SQ != 0:
        return 1299*EEBC_SQ
    else:
        return 0 

monthly_transactions_df['EEBC_SV'] = monthly_transactions_df['EEBC_SV'].apply(get_EEBC_revenue)

In [29]:
EEBC_SQ

[9665, 10001, 9816, 9890, 10028, 9902, 59302]

In [30]:
[x[0] for x in np.array(monthly_transactions_df)]

[9665, 10001, 9816, 9890, 10028, 9902, 59302]

In [31]:

monthly_transactions_df['EEBC_SV']

January     12554835
February    12991299
March       12750984
April       12847110
May         13026372
June        12862698
Total       77033298
Name: EEBC_SV, dtype: int64

In [32]:
EEBC_SQ = monthly_transactions_df['EEBC_SV'] = [x[0] for x in np.array(monthly_transactions_df)]

def get_EEBC_revenue(EEBC_SQ):
    if EEBC_SQ != 0:
        return EEBC_Price * EEBC_SQ
    else:
        return 0 

monthly_transactions_df['EEBC_SV'] = monthly_transactions_df['EEBC_SV'].apply(get_EEBC_revenue)


EEKS_SQ = monthly_transactions_df['EEKS_SV'] = [x[1] for x in np.array(monthly_transactions_df)]

def get_EEKS_revenue(EEKS_SQ):
    if EEKS_SQ != 0:
        return EEKS_Price * EEKS_SQ
    else:
        return 0 

monthly_transactions_df['EEKS_SV'] = monthly_transactions_df['EEKS_SV'].apply(get_EEKS_revenue)


HKNM_SQ = monthly_transactions_df['HKNM_SV'] = [x[2] for x in np.array(monthly_transactions_df)]

def get_HKNM_revenue(HKNM_SQ):
    if HKNM_SQ != 0:
        return HKNM_Price * HKNM_SQ
    else:
        return 0 

monthly_transactions_df['HKNM_SV'] = monthly_transactions_df['HKNM_SV'].apply(get_HKNM_revenue)


HKGV_SQ = monthly_transactions_df['HKGV_SV'] = [x[3] for x in np.array(monthly_transactions_df)]

def get_HKGV_revenue(HKGV_SQ):
    if HKGV_SQ != 0:
        return HKGV_Price * HKGV_SQ
    else:
        return 0 

monthly_transactions_df['HKGV_SV'] = monthly_transactions_df['HKGV_SV'].apply(get_HKGV_revenue)


HKYV_SQ = monthly_transactions_df['HKYV_SV'] = [x[4] for x in np.array(monthly_transactions_df)]

def get_HKYV_revenue(HKYV_SQ):
    if HKYV_SQ != 0:
        return HKYV_Price * HKYV_SQ
    else:
        return 0 

monthly_transactions_df['HKYV_SV'] = monthly_transactions_df['HKYV_SV'].apply(get_HKYV_revenue)


CCOB_SQ = monthly_transactions_df['CCOB_SV'] = [x[5] for x in np.array(monthly_transactions_df)]

def get_CCOB_revenue(CCOB_SQ):
    if CCOB_SQ != 0:
        return CCOB_Price * CCOB_SQ
    else:
        return 0 

monthly_transactions_df['CCOB_SV'] = monthly_transactions_df['CCOB_SV'].apply(get_CCOB_revenue)


CCGW_SQ = monthly_transactions_df['CCGW_SV'] = [x[6] for x in np.array(monthly_transactions_df)]

def get_CCGW_revenue(CCGW_SQ):
    if CCGW_SQ != 0:
        return CCGW_Price * CCGW_SQ
    else:
        return 0 

monthly_transactions_df['CCGW_SV'] = monthly_transactions_df['CCGW_SV'].apply(get_CCGW_revenue)

In [33]:

monthly_transactions_df

,EEBC_SQ,EEKS_SQ,HKNM_SQ,HKGV_SQ,HKYV_SQ,CCOB_SQ,CCGW_SQ,EEBC_SV,EEKS_SV,HKNM_SV,HKGV_SV,HKYV_SV,CCOB_SV,CCGW_SV
January,9665,9676,9727,9681,9959,9774,9559,12554835,7731124,19356730,14521500,4979500,1945026,1433850
February,10001,9949,9691,9980,10256,10037,9996,12991299,7949251,19285090,14970000,5128000,1997363,1499400
March,9816,9967,9876,10145,9896,9611,9986,12750984,7963633,19653240,15217500,4948000,1912589,1497900
April,9890,9921,9786,9842,9861,9914,10043,12847110,7926879,19474140,14763000,4930500,1972886,1506450
May,10028,9773,9881,9948,9735,9964,9801,13026372,7808627,19663190,14922000,4867500,1982836,1470150
June,9902,10104,9767,9980,9722,10106,9934,12862698,8073096,19436330,14970000,4861000,2011094,1490100
Total,59302,59390,58728,59576,59429,59406,59319,77033298,47452610,116868720,89364000,29714500,11821794,8897850

In [34]:
'''
LAST ROW

January - 27127
February - 55102
March - 82952
April - 110714
May - 138417
June - 166118

DO NOT SHIFT ENTER
'''

'\nLAST ROW\n\nJanuary - 27127\nFebruary - 55102\nMarch - 82952\nApril - 110714\nMay - 138417\nJune - 166118\n\nDO NOT SHIFT ENTER\n'

In [35]:

splitems_df.head(27129)

,address,birthdate,mail,name,sex,username,transaction_value,transaction_date,transaction_items,transaction_quantity,EEBC quantity,EEKS quantity,HKNM quantity,HKGV quantity,HKYV quantity,CCOB quantity,CCGW quantity,transaction_month
0,USNS Wagner\nFPO AE 00917,1926/03/11,watsonbrenda@gmail.com,Jennifer Campbell,F,veronicawells,5196,2022/01/12,"Exotic Extras,Beef Chicharon,(x4)",4,True,False,False,False,False,False,False,January
1,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Exotic Extras,Beef Chicharon,(x3)",3,True,False,False,False,False,False,False,January
2,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"HealthyKid 3+,Nutrional Milk,(x4)",4,False,False,True,False,False,False,False,January
3,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Candy City,Orange Beans,(x1)",1,False,False,False,False,False,True,False,January
4,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,5500,2022/01/08,"HealthyKid 3+,Gummy Vitamins,(x3)",3,False,False,False,True,False,False,False,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27124,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,2098,2022/01/22,"Exotic Extras,Beef Chicharon,(x1)",1,True,False,False,False,False,False,False,January
27125,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,8480,2022/01/27,"HealthyKid 3+,Gummy Vitamins,(x3)",3,False,False,False,True,False,False,False,January
27126,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,8480,2022/01/27,"HealthyKid 3+,Nutrional Milk,(x2)",2,False,False,True,False,False,False,False,January
27127,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2598,2022/01/07,"Exotic Extras,Beef Chicharon,(x2)",2,True,False,False,False,False,False,False,January
27128,USNS Wagner\nFPO AE 00917,1926/03/11,watsonbrenda@gmail.com,Jennifer Campbell,F,veronicawells,3000,2022/02/18,"HealthyKid 3+,Gummy Vitamins,(x2)",2,False,False,False,True,False,False,False,February

In [36]:
splitems_df.head(55104)

,address,birthdate,mail,name,sex,username,transaction_value,transaction_date,transaction_items,transaction_quantity,EEBC quantity,EEKS quantity,HKNM quantity,HKGV quantity,HKYV quantity,CCOB quantity,CCGW quantity,transaction_month
0,USNS Wagner\nFPO AE 00917,1926/03/11,watsonbrenda@gmail.com,Jennifer Campbell,F,veronicawells,5196,2022/01/12,"Exotic Extras,Beef Chicharon,(x4)",4,True,False,False,False,False,False,False,January
1,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Exotic Extras,Beef Chicharon,(x3)",3,True,False,False,False,False,False,False,January
2,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"HealthyKid 3+,Nutrional Milk,(x4)",4,False,False,True,False,False,False,False,January
3,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Candy City,Orange Beans,(x1)",1,False,False,False,False,False,True,False,January
4,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,5500,2022/01/08,"HealthyKid 3+,Gummy Vitamins,(x3)",3,False,False,False,True,False,False,False,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55099,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,3799,2022/02/11,"HealthyKid 3+,Gummy Vitamins,(x2)",2,False,False,False,True,False,False,False,February
55100,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,3799,2022/02/11,"Candy City,Gummy Worms,(x4)",4,False,False,False,False,False,False,True,February
55101,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2397,2022/02/22,"Exotic Extras,Kimchi and Seaweed,(x3)",3,False,True,False,False,False,False,False,February
55102,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,1500,2022/02/05,"HealthyKid 3+,Yummy Vegetables,(x3)",3,False,False,False,False,True,False,False,February
55103,USNS Wagner\nFPO AE 00917,1926/03/11,watsonbrenda@gmail.com,Jennifer Campbell,F,veronicawells,3000,2022/03/25,"HealthyKid 3+,Gummy Vitamins,(x2)",2,False,False,False,True,False,False,False,March

In [37]:
splitems_df.head(82954)

,address,birthdate,mail,name,sex,username,transaction_value,transaction_date,transaction_items,transaction_quantity,EEBC quantity,EEKS quantity,HKNM quantity,HKGV quantity,HKYV quantity,CCOB quantity,CCGW quantity,transaction_month
0,USNS Wagner\nFPO AE 00917,1926/03/11,watsonbrenda@gmail.com,Jennifer Campbell,F,veronicawells,5196,2022/01/12,"Exotic Extras,Beef Chicharon,(x4)",4,True,False,False,False,False,False,False,January
1,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Exotic Extras,Beef Chicharon,(x3)",3,True,False,False,False,False,False,False,January
2,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"HealthyKid 3+,Nutrional Milk,(x4)",4,False,False,True,False,False,False,False,January
3,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Candy City,Orange Beans,(x1)",1,False,False,False,False,False,True,False,January
4,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,5500,2022/01/08,"HealthyKid 3+,Gummy Vitamins,(x3)",3,False,False,False,True,False,False,False,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82949,"96081 Harrison Brooks\nJenniferbury, MA 02124",2019/10/26,christina55@hotmail.com,Tammy Byrd,F,kmcconnell,150,2022/03/18,"Candy City,Gummy Worms,(x1)",1,False,False,False,False,False,False,True,March
82950,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,5000,2022/03/08,"HealthyKid 3+,Yummy Vegetables,(x4)",4,False,False,False,False,True,False,False,March
82951,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,5000,2022/03/08,"HealthyKid 3+,Gummy Vitamins,(x2)",2,False,False,False,True,False,False,False,March
82952,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,300,2022/03/03,"Candy City,Gummy Worms,(x2)",2,False,False,False,False,False,False,True,March
82953,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,2296,2022/04/27,"HealthyKid 3+,Gummy Vitamins,(x1)",1,False,False,False,True,False,False,False,April

In [38]:
splitems_df.head(110716)

,address,birthdate,mail,name,sex,username,transaction_value,transaction_date,transaction_items,transaction_quantity,EEBC quantity,EEKS quantity,HKNM quantity,HKGV quantity,HKYV quantity,CCOB quantity,CCGW quantity,transaction_month
0,USNS Wagner\nFPO AE 00917,1926/03/11,watsonbrenda@gmail.com,Jennifer Campbell,F,veronicawells,5196,2022/01/12,"Exotic Extras,Beef Chicharon,(x4)",4,True,False,False,False,False,False,False,January
1,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Exotic Extras,Beef Chicharon,(x3)",3,True,False,False,False,False,False,False,January
2,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"HealthyKid 3+,Nutrional Milk,(x4)",4,False,False,True,False,False,False,False,January
3,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Candy City,Orange Beans,(x1)",1,False,False,False,False,False,True,False,January
4,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,5500,2022/01/08,"HealthyKid 3+,Gummy Vitamins,(x3)",3,False,False,False,True,False,False,False,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110711,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,2000,2022/04/25,"HealthyKid 3+,Yummy Vegetables,(x4)",4,False,False,False,False,True,False,False,April
110712,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,4745,2022/04/11,"Candy City,Gummy Worms,(x3)",3,False,False,False,False,False,False,True,April
110713,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,4745,2022/04/11,"Candy City,Orange Beans,(x2)",2,False,False,False,False,False,True,False,April
110714,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,4745,2022/04/11,"Exotic Extras,Beef Chicharon,(x3)",3,True,False,False,False,False,False,False,April
110715,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,11196,2022/05/16,"Exotic Extras,Beef Chicharon,(x4)",4,True,False,False,False,False,False,False,May

In [39]:
splitems_df.head(138419)

,address,birthdate,mail,name,sex,username,transaction_value,transaction_date,transaction_items,transaction_quantity,EEBC quantity,EEKS quantity,HKNM quantity,HKGV quantity,HKYV quantity,CCOB quantity,CCGW quantity,transaction_month
0,USNS Wagner\nFPO AE 00917,1926/03/11,watsonbrenda@gmail.com,Jennifer Campbell,F,veronicawells,5196,2022/01/12,"Exotic Extras,Beef Chicharon,(x4)",4,True,False,False,False,False,False,False,January
1,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Exotic Extras,Beef Chicharon,(x3)",3,True,False,False,False,False,False,False,January
2,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"HealthyKid 3+,Nutrional Milk,(x4)",4,False,False,True,False,False,False,False,January
3,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Candy City,Orange Beans,(x1)",1,False,False,False,False,False,True,False,January
4,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,5500,2022/01/08,"HealthyKid 3+,Gummy Vitamins,(x3)",3,False,False,False,True,False,False,False,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138414,"84708 Mitchell Road\nWest Jonathan, AL 22460",2016/01/05,bsmith@hotmail.com,Shirley Everett,F,samanthadelgado,7766,2022/05/21,"HealthyKid 3+,Yummy Vegetables,(x2)",2,False,False,False,False,True,False,False,May
138415,"826 Jacqueline Point Suite 410\nWest Diane, MI...",1921/04/21,michelledillon@hotmail.com,Bethany Peters,F,sarah79,4980,2022/05/24,"HealthyKid 3+,Yummy Vegetables,(x2)",2,False,False,False,False,True,False,False,May
138416,"826 Jacqueline Point Suite 410\nWest Diane, MI...",1921/04/21,michelledillon@hotmail.com,Bethany Peters,F,sarah79,4980,2022/05/24,"HealthyKid 3+,Nutrional Milk,(x2)",2,False,False,True,False,False,False,False,May
138417,"826 Jacqueline Point Suite 410\nWest Diane, MI...",1921/04/21,michelledillon@hotmail.com,Bethany Peters,F,sarah79,3000,2022/05/20,"HealthyKid 3+,Gummy Vitamins,(x2)",2,False,False,False,True,False,False,False,May
138418,USNS Wagner\nFPO AE 00917,1926/03/11,watsonbrenda@gmail.com,Jennifer Campbell,F,veronicawells,3687,2022/06/17,"HealthyKid 3+,Nutrional Milk,(x1)",1,False,False,True,False,False,False,False,June

In [40]:
splitems_df

,address,birthdate,mail,name,sex,username,transaction_value,transaction_date,transaction_items,transaction_quantity,EEBC quantity,EEKS quantity,HKNM quantity,HKGV quantity,HKYV quantity,CCOB quantity,CCGW quantity,transaction_month
0,USNS Wagner\nFPO AE 00917,1926/03/11,watsonbrenda@gmail.com,Jennifer Campbell,F,veronicawells,5196,2022/01/12,"Exotic Extras,Beef Chicharon,(x4)",4,True,False,False,False,False,False,False,January
1,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Exotic Extras,Beef Chicharon,(x3)",3,True,False,False,False,False,False,False,January
2,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"HealthyKid 3+,Nutrional Milk,(x4)",4,False,False,True,False,False,False,False,January
3,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,12056,2022/01/12,"Candy City,Orange Beans,(x1)",1,False,False,False,False,False,True,False,January
4,USCGC Benson\nFPO AP 48794,2016/07/08,moorelisa@gmail.com,Melissa Kim,F,cgilbert,5500,2022/01/08,"HealthyKid 3+,Gummy Vitamins,(x3)",3,False,False,False,True,False,False,False,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166114,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,4280,2022/06/09,"HealthyKid 3+,Nutrional Milk,(x2)",2,False,False,True,False,False,False,False,June
166115,428 Kristopher Curve Apt. 206\nMcculloughville...,1913/11/04,melvinschmidt@hotmail.com,Donald Andersen,M,llowe,4280,2022/06/09,"Candy City,Gummy Worms,(x2)",2,False,False,False,False,False,False,True,June
166116,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2639,2022/06/03,"HealthyKid 3+,Nutrional Milk,(x1)",1,False,False,True,False,False,False,False,June
166117,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2639,2022/06/03,"Candy City,Gummy Worms,(x3)",3,False,False,False,False,False,False,True,June
166118,"PSC 1089, Box 3720\nAPO AE 08973",2012/04/30,xjones@hotmail.com,Stephanie Russell,F,cmcdowell,2639,2022/06/03,"Candy City,Orange Beans,(x1)",1,False,False,False,False,False,True,False,June

In [41]:
monthslist = ['January', 'February', 'March', 'April', 'May', 'June']

In [42]:
monthslist_df = pd.DataFrame(monthslist)
monthslist_df

          0
0   January
1  February
2     March
3     April
4       May
5      June

In [43]:
array_agg = lambda x: '/'.join(x.astype(str))
customer_df = splitems_df.groupby(['name'], as_index=False).agg({'transaction_month':array_agg})
customer_df

                   name                                  transaction_month
0         Aaron Beasley           April/April/April/April/May/May/May/June
1          Aaron Brewer  January/January/February/February/March/April/...
2           Aaron Brown  March/March/March/March/March/April/April/Apri...
3          Aaron Coffey  January/February/February/February/March/March...
4           Aaron Davis  January/January/February/April/April/April/Apr...
...                 ...                                                ...
8482  Zachary Valentine  January/January/January/February/February/Febr...
8483       Zachary Ware  January/January/January/February/February/Febr...
8484   Zachary Williams  January/January/January/January/January/Januar...
8485     Zachary Wilson              April/May/May/May/June/June/June/June
8486       Zachary York  January/January/January/January/February/Febru...

[8487 rows x 2 columns]

In [44]:
customer_df['January']=customer_df['transaction_month'].str.contains('January')
customer_df['February']=customer_df['transaction_month'].str.contains('February')
customer_df['March']=customer_df['transaction_month'].str.contains('March')
customer_df['April']=customer_df['transaction_month'].str.contains('April')
customer_df['May']=customer_df['transaction_month'].str.contains('May')
customer_df['June']=customer_df['transaction_month'].str.contains('June')

In [45]:
customer_df

,name,transaction_month,January,February,March,April,May,June
0,Aaron Beasley,April/April/April/April/May/May/May/June,False,False,False,True,True,True
1,Aaron Brewer,January/January/February/February/March/April/...,True,True,True,True,False,True
2,Aaron Brown,March/March/March/March/March/April/April/Apri...,False,False,True,True,True,True
3,Aaron Coffey,January/February/February/February/March/March...,True,True,True,True,True,False
4,Aaron Davis,January/January/February/April/April/April/Apr...,True,True,False,True,True,True
...,...,...,...,...,...,...,...,...
8482,Zachary Valentine,January/January/January/February/February/Febr...,True,True,True,True,True,True
8483,Zachary Ware,January/January/January/February/February/Febr...,True,True,True,True,True,True
8484,Zachary Williams,January/January/January/January/January/Januar...,True,True,True,True,False,False
8485,Zachary Wilson,April/May/May/May/June/June/June/June,False,False,False,True,True,True
8486,Zachary York,January/January/January/January/February/Febru...,True,True,True,True,True,True

In [46]:
user_types_df = customer_df.loc[:,monthslist[0]:monthslist[len(monthslist)-1]]
user_types_df = user_types_df*1

In [47]:
user_types_df

      January  February  March  April  May  June
0           0         0      0      1    1     1
1           1         1      1      1    0     1
2           0         0      1      1    1     1
3           1         1      1      1    1     0
4           1         1      0      1    1     1
...       ...       ...    ...    ...  ...   ...
8482        1         1      1      1    1     1
8483        1         1      1      1    1     1
8484        1         1      1      1    0     0
8485        0         0      0      1    1     1
8486        1         1      1      1    1     1

[8487 rows x 6 columns]

In [48]:
Extracted_Names = customer_df['name']
user_types_df = user_types_df.join(Extracted_Names)

In [49]:
Extracted_Names

0           Aaron Beasley
1            Aaron Brewer
2             Aaron Brown
3            Aaron Coffey
4             Aaron Davis
              ...
8482    Zachary Valentine
8483         Zachary Ware
8484     Zachary Williams
8485       Zachary Wilson
8486         Zachary York
Name: name, Length: 8487, dtype: object

In [50]:
user_types_df

      January  February  March  April  May  June               name
0           0         0      0      1    1     1      Aaron Beasley
1           1         1      1      1    0     1       Aaron Brewer
2           0         0      1      1    1     1        Aaron Brown
3           1         1      1      1    1     0       Aaron Coffey
4           1         1      0      1    1     1        Aaron Davis
...       ...       ...    ...    ...  ...   ...                ...
8482        1         1      1      1    1     1  Zachary Valentine
8483        1         1      1      1    1     1       Zachary Ware
8484        1         1      1      1    0     0   Zachary Williams
8485        0         0      0      1    1     1     Zachary Wilson
8486        1         1      1      1    1     1       Zachary York

[8487 rows x 7 columns]

In [51]:
#semi-hardcoded

January_Transactions = splitems_df.loc[splitems_df['transaction_month'] == 'January']
january_customers_full = January_Transactions['name'].tolist()
january_customers = []
for i in january_customers_full:
    if i not in january_customers:
        january_customers.append(i)
january_engaged = len(january_customers)
january_engaged

6588

In [57]:
RepeatersList = []
InactiveList = []
EngagedList = []

for x, month in enumerate(monthslist):
        if x == 0:
            repeaters = 0
            inactive = 0
            engaged = january_engaged
            print(month, ":\t", repeaters, "repeaters\t", inactive, "inactive\t", engaged, "engaged")
            RepeatersList.append(repeaters)
            InactiveList.append(inactive)
            EngagedList.append(engaged)
        else:
            user_repeaters = user_types_df[(user_types_df[monthslist[x-1]] == 1) & (user_types_df[monthslist[x]] == 1)]
            repeaters = len(user_repeaters.index)

            user_inactive = user_types_df.loc[:,monthslist[0]:month]
            user_inactive = user_inactive[(user_inactive[monthslist[x]] == 0)]

            user_inactive2 = user_inactive.sum(axis=1)
            user_inactive2 = user_inactive2.tolist()
            inactive = np.count_nonzero(user_inactive2)

            user_engaged = user_types_df.loc[:, monthslist[0]:month]
            user_engaged2 = user_engaged.sum(axis=1)
            user_engaged2 = user_engaged2.tolist()
            engaged = user_engaged2.count(x+1)
            print(month, ":\t", repeaters, "repeaters\t", inactive, "inactive\t", engaged, "engaged")
            RepeatersList.append(repeaters)
            InactiveList.append(inactive)
            EngagedList.append(engaged)

January :	 0 repeaters	 0 inactive	 6588 engaged
February :	 5172 repeaters	 1416 inactive	 5172 engaged
March :	 5216 repeaters	 1747 inactive	 4126 engaged
April :	 5154 repeaters	 1909 inactive	 3289 engaged
May :	 5110 repeaters	 1917 inactive	 2667 engaged
June :	 5193 repeaters	 1835 inactive	 2190 engaged

In [58]:
print(RepeatersList)
print(InactiveList)
print(EngagedList)

[0, 5172, 5216, 5154, 5110, 5193]
[0, 1416, 1747, 1909, 1917, 1835]
[6588, 5172, 4126, 3289, 2667, 2190]

In [64]:
data = [RepeatersList, InactiveList, EngagedList]
data

[[0, 5172, 5216, 5154, 5110, 5193],
 [0, 1416, 1747, 1909, 1917, 1835],
 [6588, 5172, 4126, 3289, 2667, 2190]]

In [67]:
the_table = pd.DataFrame(columns = ['January', 'February', 'March', 'April', 'May', 'June'], index = ['repeaters', 'inactive', 'engaged'], data = data)

the_table

           January  February  March  April   May  June
repeaters        0      5172   5216   5154  5110  5193
inactive         0      1416   1747   1909  1917  1835
engaged       6588      5172   4126   3289  2667  2190

In [ ]:
import pandas as pd
lst1 = range(100)
lst2 = range(100)
lst3 = range(100)
percentile_list = pd.DataFrame(
    {'lst1Title': lst1,
     'lst2Title': lst2,
     'lst3Title': lst3
    })

percentile_list
    lst1Title  lst2Title  lst3Title
0          0         0         0
1          1         1         1
2          2         2         2
3          3         3         3
4          4         4         4
5          5         5         5
6          6         6         6

In [ ]:
# import pandas as pd
import pandas as pd
  
# list of strings
lst = ['Geeks', 'For', 'Geeks', 'is', 'portal', 'for', 'Geeks']
  
# Calling DataFrame constructor on list
# with indices and columns specified
df = pd.DataFrame(lst, index =['a', 'b', 'c', 'd', 'e', 'f', 'g'],
                                              columns =['Names'])
df